* {
  border: none;
  font-family: "CaskaydiaCove Nerd Font", "Ubuntu Nerd Font", sans-serif;
  font-size: 13px;
  color: #ffffff;
  min-height: 30px;
}

window#waybar {
  background: rgba(15,15,20, 0.5);
  border-radius: 10px;
  margin: 5px;
  padding: 6px 12px;
}

#hyprland-workspaces { margin-left: 8px; }

#hyprland-workspaces button {
  border-radius: 50%;
  padding: 6px;
  min-width: 26px;
  min-height: 26px;
  margin: 0 4px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0);
  transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#hyprland-workspaces button.active {
  background: rgba(255,255,255,0.25);
  border-color: rgba(255,255,255,0.35);
}

#hyprland-workspaces button:hover {
  background: rgba(255,255,255,0.18);
  border-color: rgba(255,255,255,0.22);
}

#cpu, #memory, #network, #pulseaudio, #battery, #tray, #clock {
  margin: 0 8px;
  color: #ffffff;
}

#modules-right { margin-right: 25px; }
